.mainContent {
  display: block;
  flex-wrap: wrap;
  color: #edefee;
  background-color: #495e57;
  padding-top: 20px;
}

.mainText {
  display: inline-block;
  padding: 10px 60px;
  font-family: Markazi Text;
  width: 40%;
  margin-bottom: 20px;
}

.displayTitle {
  font-family: Markazi Text;
  font-size: 64px;
  color: #f4ce14;
}

.subtitle {
  line-height: 0.5;
  font-size: 40px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.restaurantPhoto {
  margin-left: 20px;
  border-radius: 5%;
  position: relative;
  bottom: -80px;
}
