.mainContent {
  display: block;
  flex-wrap: wrap;
  color: #edefee;
  font-family: Markazi Text;
  background-color: #495e57;
  padding-top: 20px;
}

.mainText {
  display: inline-block;
  padding: 10px 60px;
  font-family: Markazi Text;
  width: 40%;
  margin-bottom: 20px;
}

.description {
  margin: 30px 0 20px 0;
  font-size: 20px;
  font-family: Karla;
  font-weight: 500;
}

.title {
  color: #f4ce14;
  font-size: 64px;
}

.subtitle {
  font-size: 40px;
}

.restaurantPhoto {
  margin-left: 20px;
  border-radius: 5%;
  position: relative;
  bottom: -80px;
}
