.navBar {
  display: flex;
  justify-content: space-between;
  margin: 30px 60px;
  flex-wrap: wrap;
  font-family: Karla;
  font-size: 16px;
  align-items: center;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
}

.list {
  text-decoration: none;
  font-weight: 600;
  color: #495e57;
}

.list :hover {
  transition: all 0.25s ease-out;
  border: 2px solid #495e57;
  border-radius: 5px;
  padding: 5px 10px;
}
