.navBar {
  display: flex;
  justify-content: space-between;
  margin: 20px 60px;
  flex-wrap: wrap;
  font-family: Karla;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
}

.logo {
  margin-bottom: 20px;
}

.list {
  display: inline;
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
